 <div>
      <div class="row">
        <div class="large-12">
          <ul class="inline-list">
          	<li><%= link_to "Sanus" %></li>
			<li><%= link_to "about" %></li>
			<li><%= link_to "jobs" %></li>
          </ul>
        </div>
        <div class="large-5">
          <p class="ghostwhite">&copy;Sanus, Inc. All rights reserved.</p>
        </div>
      </div>
</div>