 <!-- Left Nav Section -->
 <ul class='nav-inner'>
 	<div class='left'>
 	 <li><%= link_to "recipes",  {:controller =>'../recipe',  :action => 'index'}  %></li>
	</div>
	<div class="right">
		<li><%= link_to "login", user_session_path %></li>
	</div>
 </ul>